<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collectors Game</title>

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script src="../js/vue_script.js" defer></script>
</head>

<body>

    <h1>Hello world</h1>

    <div id="myinfo">
        <p>{{userid}}</p>

        <!-- 2 way binding -->
        <input v-model="message">
        <h1>{{message}}</h1>
        <button v-on:click="buttonPressed">Click on me and see what happens</button>
    </div>

</body>

</html>